body, html{
  margin: 0;
  padding: 0;
  font-size: 17px;
  font-family: Roboto, Arial, sans-serif;
  color: #46545a;
  background-color: #cbe7f6;
}

$borderColor: #b8c9d6;

ul, p, h1, h2, h3, h4, h5{
  margin: 0;
  padding: 0;
}

.clear{
  clear: both;
  float: none;
  display: block;
}

body{
  overflow: hidden;
}

#todoList{
  background: #ffffff;
  width: 500px;
  margin: 100px auto;
  border-radius: 4px;
  padding: 15px;
  >h2{
    text-align: center;
    margin-bottom: 15px;
  }
  .todoCreate{
    border-bottom: 1px solid $borderColor;
    padding-bottom: 10px;
    margin-bottom: 10px;
    form{
      input{
        width: 100%;
        font-size: 20px;
        padding: 6px 12px;
        box-sizing: border-box;
      }
    }
  }
  .todoItems{
    .todoItem{
      position: relative;
      font-size: 0;
      border-bottom: 1px dotted $borderColor;
      padding: 10px 0 8px 10px;
      .text, .actions{
        display: inline-block;
        font-size: 14px;
        vertical-align: top;
      }
      .text{
        padding-top: 3px;
        width: 85%;
        font-size: 16px;
      }
      .actions{
        width: 15%;
        text-align: right;
        button{
          width: 30px;
          height: 30px;
          display: inline-block;
          border: 0;
          background: none;
          background-repeat: no-repeat;
          background-position: center center;
          cursor: pointer;
          &:hover{
            background-color: #cbe7f6;
          }
          &.edit{
            background-image: url("../images/edit.png");
          }
          &.remove{
            background-image: url("../images/remove.png");
          }
        }
      }
    }
  }
}